[Desktop Entry]
 Type=Application
 Exec=/opt/BatteryAlert/battery_alert.sh
 Name=battery_alert_service
 Comment=This service will alert to improve batter life
